#size
{
	width: 8em;
	height:8em;
	margin: 0 auto;
}
.subheading img{
	width: 8em;
	height:8em;
	margin: 0 auto;
}


.mb-4
{
	font-family: 'Permanent Marker', cursive;
}

#lshift
{
	margin-right: 15em;
}
#rshift
{
	margin-left: 10em;
}
#topb
{
	margin: auto; 
}


.b1
{
	background-color: transparent;
	color: white;
	border: none;
}
.textcolor
{
	color: black;
}

body
{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
